@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "manrope";
    box-sizing: border-box;
}

nav{
    padding: 20px 10rem;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.lln{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}
.lln > .nav-links{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.nav-links>li{
    margin-right: 40px;
    font-size: 18px;
    padding: 20px;
    color: rgba(244, 244, 244, 0.4);
    cursor: pointer;
}
.nav-links>li:hover{
    color: #fff;
}
.nav-button{
    font-size: 18px;
    border: 1px solid rgba(244, 244, 244, 0.16);
    padding: 14px 22px;
    border-radius: 32px;
    background-color: black;
    color: rgba(244, 244, 244, 0.4);
    cursor: pointer;
    margin-right: 10px;
}
button:hover{
    color: #fff;
    border: 1px solid #fff;
}
/* Humburger Menu */
.humburger{
    display: none;
}
.hb-menu{
    background-color: black;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    gap: 2rem;
    font-size: 18px;
    position: absolute;
    width: 100%;
}
.hb-menu> li{
    color: rgba(244, 244, 244, 0.4);
}
.hb-menu> li > button{
    font-size: 18px;
    border: 1px solid rgba(244, 244, 244, 0.16);
    padding: 14px 22px;
    border-radius: 32px;
    background-color: black;
    color: rgba(244, 244, 244, 0.4);
    cursor: pointer;
    margin-bottom: 10px;
}

/* Responsive NavBar */
@media screen and (max-width: 1245px) {
    .lln > .nav-links{
        display: none;
    }
    .bn{
        display: none;
    }
    .humburger{
        display: flex;
        padding: 31px 0;
    }
}
@media screen and (max-width: 991px) {
    nav{
        padding: 20px 7rem;
    }
}
@media screen and (max-width: 768px) {
    nav{
        padding: 20px 5rem;
    }
}
@media screen and (max-width: 458px) {
    nav{
        padding: 20px 3rem;
    }
}
@media screen and (max-width: 321px) {
    nav{
        padding: 20px 1.5rem;
    }
}



/* 1st Page */
.black-back{
    background-color: black;
    height: 1080px;
    margin: 0;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}
.hero > h1{
    margin-top: 60px;
    font-size: 6rem;
    font-weight: 700;
    color: #fff;
    line-height: 120px;
}
.hero > p{
    font-size: 16px;
    color: rgba(244, 244, 244, 0.4);
    line-height: 30px;
    font-weight: 500;
}
.btndiv > button{
    margin-top: 10px;
    font-size: 18px;
    border: 1px solid rgba(244, 244, 244, 0.16);
    padding: 20px 26px;
    border-radius: 40px;
    background-color: #4c85fa;
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 140px 0 #387aff;
}
.btndiv > button:hover{
    background-color: black;
    border: 1px solid #fff;
}
.btndiv > button > i{
    margin-right: 10px;
}

/* Responsive 1st Page */
@media screen and (max-width: 769px) {
    .hero > h1{
        margin-top: 60px;
        font-size: 4rem;
        font-weight: 700;
        color: #fff;
        line-height: 100px;
    }
    .hero > p{
        font-size: 16px;
        color: rgba(244, 244, 244, 0.4);
        line-height: 25px;
        font-weight: 500;
        padding: 0 10px;
    }
    .btndiv > button{
        margin-top: 10px;
        font-size: 12px;
        border: 1px solid rgba(244, 244, 244, 0.16);
        padding: 16px 20px;
        border-radius: 40px;
        background-color: #4c85fa;
        color: #fff;
        cursor: pointer;
        box-shadow: 1px 1px 140px 0 #387aff;
    }
}
@media screen and (max-width: 458px) {
    .hero > h1{
        margin-top: 60px;
        font-size: 3rem;
        font-weight: 700;
        color: #fff;
        line-height: 70px;
    }
    .hero > p{
        font-size: 14px;
        color: rgba(244, 244, 244, 0.4);
        line-height: 20px;
        font-weight: 500;
        padding: 0 10px;
    }
    .btndiv > button{
        margin-top: 10px;
        font-size: 12px;
        border: 1px solid rgba(244, 244, 244, 0.16);
        padding: 14px 18px;
        border-radius: 40px;
        background-color: #4c85fa;
        color: #fff;
        cursor: pointer;
        box-shadow: 1px 1px 140px 0 #387aff;
    }
}
@media screen and (max-width: 321px) {
    .hero > h1{
        margin-top: 60px;
        font-size: 2.5rem;
        font-weight: 700;
        color: #fff;
        line-height: 50px;
    }
    .hero > p{
        font-size: 12px;
        color: rgba(244, 244, 244, 0.4);
        line-height: 20px;
        font-weight: 500;
        padding: 0 10px;
    }
    .btndiv > button{
        margin-top: 10px;
        font-size: 12px;
        border: 1px solid rgba(244, 244, 244, 0.16);
        padding: 14px 18px;
        border-radius: 40px;
        background-color: #4c85fa;
        color: #fff;
        cursor: pointer;
        box-shadow: 1px 1px 140px 0 #387aff;
    }
}


/* White Page1 for hero-img*/
.white1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.hero-img > img{
    position: absolute;
    top: 700px;
}

/* Responsive White Page1 for hero-img*/
@media screen and (max-width: 1245px) {
    .white1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }
    .hero-img > img{
        position: absolute;
        top: 700px;
        width: 980px;
        height: 747px;
    }
}
@media screen and (max-width: 1099px) {
    .black-back{
        height: 1000px;
    }
    .hero-img > img{
        position: absolute;
        top: 700px;
        width: 920px;
        height: 687px;
    }
}
@media screen and (max-width: 991px) {
    .black-back{
        height: 910px;
    }
    .hero-img > img{
        position: absolute;
        top: 700px;
        width: 720px;
        height: 487px;
    }
}
@media screen and (max-width: 769px) {
    .black-back{
        height: 700px;
    }
    .hero-img > img{
        position: absolute;
        top: 600px;
        width: 570px;
        height: 337px;
    }
}
@media screen and (max-width: 625px) {
    .black-back{
        height: 670px;
    }
    .hero-img > img{
        position: absolute;
        top: 630px;
        width: 410px;
        height: 237px;
    }
}
@media screen and (max-width: 458px) {
    .black-back{
        height: 560px;
    }
    .hero-img > img{
        position: absolute;
        top: 540px;
        width: 340px;
        height: 187px;
    }
}
@media screen and (max-width: 361px) {
    .black-back{
        height: 560px;
    }
    .hero-img > img{
        position: absolute;
        top: 540px;
        width: 300px;
        height: 167px;
    }
}
@media screen and (max-width: 321px) {
    .black-back{
        height: 500px;
    }
    .hero-img > img{
        position: absolute;
        top: 500px;
        width: 240px;
        height: 147px;
    }
}



/* ip section  */
.ip{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 2rem;
    margin-top: 26rem;
}
.ip>p{
    font-size: 18px;
    font-weight: 700;
    color: rgba(30, 30, 32, 0.32);
}
.imgs{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
}

/* Responsive ip section  */
@media screen and (max-width: 1245px) {
    .ip{
        margin-top: 22rem;
    }
}
@media screen and (max-width: 991px) {
    .ip{
        margin-top: 18rem;
    }
}
@media screen and (max-width: 768px) {
    .ip{
        margin-top: 13rem;
    }
}
@media screen and (max-width: 625px) {
    .ip {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 2.4rem;
        padding-bottom: 2rem;
        margin-top: 10rem;
    }
    .ip>p {
        font-size: 16px;
        font-weight: 700;
        color: rgba(30, 30, 32, 0.32);
    }
    .imgs {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 458px) {
    .ip{
        margin-top: 8rem;
    }
    .imgs > img{
        width: 80px;
        height: auto;
    }
}
@media screen and (max-width: 361px) {
    .ip{
        margin-top: 6rem;
    }
    .ip>p {
        font-size: 14px;
    }
}
@media screen and (max-width: 321px) {
    .ip{
        margin-top: 5rem;
    }
    .imgs > img{
        width: 60px;
        height: auto;
    }
}