@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "manrope";
    box-sizing: border-box;
}

nav{
    padding: 20px 10rem;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.lln{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}
.lln > .nav-links{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.nav-links>li{
    margin-right: 40px;
    font-size: 18px;
    padding: 20px;
    color: rgba(244, 244, 244, 0.4);
    cursor: pointer;
}
.nav-links>li:hover{
    color: #fff;
}
.nav-button{
    font-size: 18px;
    border: 1px solid rgba(244, 244, 244, 0.16);
    padding: 14px 22px;
    border-radius: 32px;
    background-color: black;
    color: rgba(244, 244, 244, 0.4);
    cursor: pointer;
    margin-right: 10px;
}
button:hover{
    color: #fff;
    border: 1px solid #fff;
}
/* Humburger Menu */
.humburger{
    display: none;
}
.humburger:hover{
    cursor: pointer;
}
.hb-menu{
    background-color: black;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    gap: 2rem;
    font-size: 18px;
    position: absolute;
    width: 100%;
}
.hb-menu> li{
    color: rgba(244, 244, 244, 0.4);
}
.hb-menu> li > button{
    font-size: 18px;
    border: 1px solid rgba(244, 244, 244, 0.16);
    padding: 14px 22px;
    border-radius: 32px;
    background-color: black;
    color: rgba(244, 244, 244, 0.4);
    cursor: pointer;
    margin-bottom: 10px;
}

/* Responsive NavBar */
@media screen and (max-width: 1245px) {
    .lln > .nav-links{
        display: none;
    }
    .bn{
        display: none;
    }
    .humburger{
        display: flex;
        padding: 31px 0;
    }
}
@media screen and (max-width: 991px) {
    nav{
        padding: 20px 7rem;
    }
}
@media screen and (max-width: 768px) {
    nav{
        padding: 20px 5rem;
    }
}
@media screen and (max-width: 458px) {
    nav{
        padding: 20px 3rem;
    }
}
@media screen and (max-width: 321px) {
    nav{
        padding: 20px 1.5rem;
    }
}



/* 1st Page */
.black-back{
    background-color: black;
    height: 1080px;
    margin: 0;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}
.hero > h1{
    margin-top: 60px;
    font-size: 6rem;
    font-weight: 700;
    color: #fff;
    line-height: 120px;
}
.hero > p{
    font-size: 16px;
    color: rgba(244, 244, 244, 0.4);
    line-height: 30px;
    font-weight: 500;
}
.btndiv > button{
    margin-top: 10px;
    font-size: 18px;
    border: 1px solid rgba(244, 244, 244, 0.16);
    padding: 20px 26px;
    border-radius: 40px;
    background-color: #4c85fa;
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 140px 0 #387aff;
}
.btndiv > button:hover{
    background-color: black;
    border: 1px solid #fff;
}
.btndiv > button > i{
    margin-right: 10px;
}

/* Responsive 1st Page */
@media screen and (max-width: 769px) {
    .hero > h1{
        margin-top: 60px;
        font-size: 4rem;
        font-weight: 700;
        color: #fff;
        line-height: 100px;
    }
    .hero > p{
        font-size: 16px;
        color: rgba(244, 244, 244, 0.4);
        line-height: 25px;
        font-weight: 500;
        padding: 0 10px;
    }
    .btndiv > button{
        margin-top: 10px;
        font-size: 12px;
        border: 1px solid rgba(244, 244, 244, 0.16);
        padding: 16px 20px;
        border-radius: 40px;
        background-color: #4c85fa;
        color: #fff;
        cursor: pointer;
        box-shadow: 1px 1px 140px 0 #387aff;
    }
}
@media screen and (max-width: 458px) {
    .hero > h1{
        margin-top: 60px;
        font-size: 3rem;
        font-weight: 700;
        color: #fff;
        line-height: 70px;
    }
    .hero > p{
        font-size: 14px;
        color: rgba(244, 244, 244, 0.4);
        line-height: 20px;
        font-weight: 500;
        padding: 0 10px;
    }
    .btndiv > button{
        margin-top: 10px;
        font-size: 12px;
        border: 1px solid rgba(244, 244, 244, 0.16);
        padding: 14px 18px;
        border-radius: 40px;
        background-color: #4c85fa;
        color: #fff;
        cursor: pointer;
        box-shadow: 1px 1px 140px 0 #387aff;
    }
}
@media screen and (max-width: 321px) {
    .hero > h1{
        margin-top: 60px;
        font-size: 2.5rem;
        font-weight: 700;
        color: #fff;
        line-height: 50px;
    }
    .hero > p{
        font-size: 12px;
        color: rgba(244, 244, 244, 0.4);
        line-height: 20px;
        font-weight: 500;
        padding: 0 10px;
    }
    .btndiv > button{
        margin-top: 10px;
        font-size: 12px;
        border: 1px solid rgba(244, 244, 244, 0.16);
        padding: 14px 18px;
        border-radius: 40px;
        background-color: #4c85fa;
        color: #fff;
        cursor: pointer;
        box-shadow: 1px 1px 140px 0 #387aff;
    }
}



/* White Page1 for hero-img*/
.white1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.hero-img > img{
    position: absolute;
    top: 700px;
}

/* Responsive White Page1 for hero-img*/
@media screen and (max-width: 1245px) {
    .white1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }
    .hero-img > img{
        position: absolute;
        top: 700px;
        width: 980px;
        height: 747px;
    }
}
@media screen and (max-width: 1099px) {
    .black-back{
        height: 1000px;
    }
    .hero-img > img{
        position: absolute;
        top: 700px;
        width: 920px;
        height: 687px;
    }
}
@media screen and (max-width: 991px) {
    .black-back{
        height: 910px;
    }
    .hero-img > img{
        position: absolute;
        top: 700px;
        width: 720px;
        height: 487px;
    }
}
@media screen and (max-width: 769px) {
    .black-back{
        height: 700px;
    }
    .hero-img > img{
        position: absolute;
        top: 600px;
        width: 570px;
        height: 337px;
    }
}
@media screen and (max-width: 625px) {
    .black-back{
        height: 670px;
    }
    .hero-img > img{
        position: absolute;
        top: 630px;
        width: 410px;
        height: 237px;
    }
}
@media screen and (max-width: 458px) {
    .black-back{
        height: 560px;
    }
    .hero-img > img{
        position: absolute;
        top: 540px;
        width: 340px;
        height: 187px;
    }
}
@media screen and (max-width: 361px) {
    .black-back{
        height: 560px;
    }
    .hero-img > img{
        position: absolute;
        top: 540px;
        width: 300px;
        height: 167px;
    }
}
@media screen and (max-width: 321px) {
    .black-back{
        height: 500px;
    }
    .hero-img > img{
        position: absolute;
        top: 500px;
        width: 240px;
        height: 147px;
    }
}




/* ip section  */
.ip{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 2rem;
    margin-top: 26rem;
}
.ip>p{
    font-size: 18px;
    font-weight: 700;
    color: rgba(30, 30, 32, 0.32);
}
.imgs{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
}

/* Responsive ip section  */
@media screen and (max-width: 1245px) {
    .ip{
        margin-top: 22rem;
    }
}
@media screen and (max-width: 991px) {
    .ip{
        margin-top: 18rem;
    }
}
@media screen and (max-width: 768px) {
    .ip{
        margin-top: 13rem;
    }
}
@media screen and (max-width: 625px) {
    .ip {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 2.4rem;
        padding-bottom: 2rem;
        margin-top: 10rem;
    }
    .ip>p {
        font-size: 16px;
        font-weight: 700;
        color: rgba(30, 30, 32, 0.32);
    }
    .imgs {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }
    .imgs > img{
        width: 80px;
        height: auto;
    }
}
@media screen and (max-width: 458px) {
    .ip{
        margin-top: 8rem;
    }
    .imgs > img{
        width: 60px;
        height: auto;
    }
}
@media screen and (max-width: 361px) {
    .ip{
        margin-top: 6rem;
    }
    .ip>p {
        font-size: 14px;
    }
    .imgs{
        gap: 1rem;
    }
    .imgs > img{
        width: 40px;
        height: auto;
    }
}
@media screen and (max-width: 321px) {
    .ip{
        margin-top: 5rem;
        gap: 2rem;
    }
    .imgs > img{
        width: 40px;
        height: auto;
    }
}




/* sp section */
.sp-section{
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-bottom: 3.3rem;
}
.sp-section > h1{
    font-size: 3.75rem;
    font-weight: 800;
    padding: 0 2rem;
}
.sp-section > p{
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: rgba(30, 30, 32, 0.4);
}
.three-content{
    padding: 4rem 12rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    text-align: left;
    align-items: center;
}
.content > img{
    width: auto;
    height: auto;
}
.content-text{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.content-text > h3{
    font-size: 22px;
    font-weight: 700;
    color: rgba(30, 30, 32, 0.8);
}
.content-text > p{
    font-size: 16px;
    font-weight: 500;
    color: rgba(30, 30, 32, 0.32);
    line-height: 30px;
}

/* Responsive sp-section */
@media screen and (max-width: 1285px) {
    .three-content {
        padding: 4rem 12rem;
        display: flex;
        flex-direction: row;
        gap: 3.5rem;
        text-align: left;
        align-items: center;
    }
}
@media screen and (max-width: 1245px) {
    .three-content {
        padding: 4rem 0rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .content>img {
        width: auto;
        height: auto;
    }
    .content-text {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .content-text>h3 {
        font-size: 22px;
        font-weight: 700;
        color: rgba(30, 30, 32, 0.8);
    }
    .content-text > p{
        font-size: 16px;
        font-weight: 500;
        color: rgba(30, 30, 32, 0.32);
        line-height: 30px;
        padding: 0 5rem;
    }
}
@media screen and (max-width: 768px) {
    .sp-section > h1{
        font-size: 3rem;
        font-weight: 800;
    }
    .sp-section > p{
        font-size: 14px;
        font-weight: 500;
        line-height: 30px;
        color: rgba(30, 30, 32, 0.4);
    }
    .content-text>p {
        font-size: 14px;
        font-weight: 500;
        color: rgba(30, 30, 32, 0.32);
        line-height: 30px;
    }
}
@media screen and (max-width: 625px) {
    .sp-section > h1{
        font-size: 2.5rem;
        font-weight: 800;
    }
    .sp-section > p{
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        color: rgba(30, 30, 32, 0.4);
        padding: 0 3rem;
    }
    .content-text>p {
        font-size: 14px;
        font-weight: 500;
        color: rgba(30, 30, 32, 0.32);
        line-height: 20px;
    }
}




/* ab-section1 */
.ab-section1{
    background-color: black;
    color: #fff;
    padding: 5.5rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.ab-img{
    display: flex;
    justify-content: center;
    padding-left: 9rem;
    padding-top: 5rem;
}
.ab-img > img{
    width: 650px;
}
.ab-content{
    padding-top: 4rem;
    padding-right: 9rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.ab-content > h2{
    font-size: 3.74rem;
}
.ab-content > p{
    font-size: 16px;
    font-weight: 500;
    color: rgba(244, 244, 244, 0.4);
    line-height: 30px;
}
.btn > button{
    font-size: 18px;
    border: 1px solid rgba(244, 244, 244, 0.16);
    padding: 14px 22px;
    border-radius: 32px;
    background-color: black;
    color: rgba(244, 244, 244, 0.64);
    cursor: pointer;
}
.btn > button:hover{
    color: #fff;
    border: 1px solid #fff;
}

/* Responsive ab-section-1 */
@media screen and (max-width: 1300px) {
    .ab-section1 {
        background-color: black;
        color: #fff;
        padding: 4rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .ab-img{
        display: flex;
        justify-content: center;
        padding-left: 4rem;
        padding-top: 0rem;
    }
    .ab-content{
        padding-top: 3rem;
        padding-left: 5rem;
        padding-right: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        text-align: center;
    }
}
@media screen and (max-width: 1245px) {
    .ab-content > h2{
        font-size: 3.74rem;
    }
    .ab-content > p{
        font-size: 16px;
        font-weight: 500;
        color: rgba(244, 244, 244, 0.4);
        line-height: 30px;
    }
    .btn > button{
        font-size: 16px;
        border: 1px solid rgba(244, 244, 244, 0.16);
        padding: 14px 22px;
        border-radius: 32px;
        background-color: black;
        color: rgba(244, 244, 244, 0.64);
        cursor: pointer;
    }
}
@media screen and (max-width: 991px) {

}
@media screen and (max-width: 768px) {
    .ab-img > img{
        width: 550px;
    }
    .ab-content > h2{
        font-size: 3rem;
    }
    .ab-content > p{
        font-size: 16px;
        font-weight: 500;
        color: rgba(244, 244, 244, 0.4);
        line-height: 30px;
    }
    .btn > button{
        font-size: 16px;
    }
}
@media screen and (max-width: 625px) {
    .ab-img > img{
        width: 400px;
    }
    .ab-img{
        padding-left: 2rem;
    }
}
@media screen and (max-width: 458px) {
    .ab-img > img{
        width: 350px;
    }
    .ab-content > p{
        font-size: 14px;
        font-weight: 500;
        color: rgba(244, 244, 244, 0.4);
        line-height: 30px;
    }
    .btn > button{
        font-size: 14px;
        padding: 14px 18px;
    }
    .ab-content > h2{
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 361px) {
    .ab-img > img{
        width: 300px;
    }
}
@media screen and (max-width: 321px) {
    .ab-img > img{
        width: 250px;
    }
}




/* ab-section2 */
.ab-section2{
    background-color: black;
    color: #fff;
    padding: 0rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-bottom: 23rem;
}
.ab-img2{
    display: flex;
    justify-content: center;
    padding-right: 9.5rem;
    padding-top: 5rem;
}
.ab-img2 > img{
    width: 650px;
}
.ab-content2{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 5rem;
    padding-left: 11.5rem;
}
.ab-content2 > h2{
    font-size: 3.74rem;
}
.ab-content2 > p{
    font-size: 16px;
    font-weight: 500;
    color: rgba(244, 244, 244, 0.4);
    line-height: 30px;
}
.btn2 > button{
    font-size: 18px;
    border: 1px solid rgba(244, 244, 244, 0.16);
    padding: 14px 22px;
    border-radius: 32px;
    background-color: black;
    color: rgba(244, 244, 244, 0.64);
    cursor: pointer;
}
.btn2 > button:hover{
    color: #fff;
    border: 1px solid #fff;
}

/* Responsive ab-section-2 */
@media screen and (max-width: 1300px) {
    .ab-section2 {
        background-color: black;
        color: #fff;
        padding: 4rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding-top: 2rem;
        padding-bottom: 23rem;
    }
    .ab-content2{
        padding-top: 3rem;
        padding-left: 5rem;
        padding-right: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        text-align: center;
    }
    .ab-img2{
        display: flex;
        justify-content: right;
        align-items: right;
        padding-top: 5rem;
        padding-right: 2rem;
        width: auto;
    }
    .ab-img2 > img{
        width: 600px;
    }
}
@media screen and (max-width: 1245px) {
    .ab-content2 > h2{
        font-size: 3.74rem;
    }
    .ab-content2 > p{
        font-size: 16px;
        font-weight: 500;
        color: rgba(244, 244, 244, 0.4);
        line-height: 30px;
    }
    .btn2 > button{
        font-size: 16px;
        border: 1px solid rgba(244, 244, 244, 0.16);
        padding: 14px 22px;
        border-radius: 32px;
        background-color: black;
        color: rgba(244, 244, 244, 0.64);
        cursor: pointer;
    }
}
@media screen and (max-width: 768px) {
    .ab-img2 > img{
        width: 400px;
    }
    .ab-content2 > h2{
        font-size: 3rem;
    }
    .ab-content2 > p{
        font-size: 16px;
        font-weight: 500;
        color: rgba(244, 244, 244, 0.4);
        line-height: 30px;
    }
    .btn2 > button{
        font-size: 16px;
    }
    .ab-img2{
        padding-left: 8rem;
    }
}
@media screen and (max-width: 625px) {
    .ab-img2 > img{
        width: 350px;
    }
    .ab-img2{
        padding-left: 2rem;
    }
}
@media screen and (max-width: 458px) {
    .ab-img2 > img{
        width: 200px;
    }
    .ab-content2 > p{
        font-size: 14px;
        font-weight: 500;
        color: rgba(244, 244, 244, 0.4);
        line-height: 30px;
    }
    .btn2 > button{
        font-size: 14px;
        padding: 14px 18px;
    }
    .ab-content2 > h2{
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 361px) {
    .ab-img2 > img{
        width: 250px;
    }
}
@media screen and (max-width: 321px) {
    .ab-img2 > img{
        width: 200px;
    }
}




/* Box-section */
.box-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0;
    border: 1px solid blue;
}
.blue-box{
    color: #fff;
    padding: 2rem 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    position: static;
    margin-top: -240px;
    background: url(./assets/bg1.png) no-repeat ;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    border-radius: 32px;
}
.blue-box > h2{
    font-size: 3.75rem;
    font-weight: 800;
}
.blue-box > p{
    font-size: 16px;
    line-height: 30px;
    color: rgba(244, 244, 244, 0.4);
}
.btndiv2 > button{
    font-size: 18px;
    border: 1px solid rgba(244, 244, 244, 0.16);
    padding: 20px 30px;
    border-radius: 40px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}
.btndiv2 > button:hover{
    border: 1px solid #000000;
}
.btndiv2 > button > i{
    margin-right: 10px;
}

/*  Responsive Box-section */
@media screen and (max-width: 1252px) {
    .blue-box{
        padding: 2rem 12rem;
    }
}
@media screen and (max-width: 1245px) {
    .blue-box{
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 2rem 9rem;
    }
}
@media screen and (max-width: 991px) {
    .blue-box{
        padding: 2rem 6rem;
        gap: 1.7rem;
    }
    .blue-box > h2{
        font-size: 3.5rem;
        font-weight: 800;
    }
    .blue-box > p{
        font-size: 15px;
        line-height: 28px;
        color: rgba(244, 244, 244, 0.4);
    }
    .btndiv2 > button{
        font-size: 17px;
        border: 1px solid rgba(244, 244, 244, 0.16);
        padding: 20px 30px;
        border-radius: 40px;
        background-color: #ffffff;
        color: #000000;
        cursor: pointer;
    }
}
@media screen and (max-width: 902px) {
    .blue-box{
        padding: 2rem 6rem;
        gap: 1.7rem;
    }
    .blue-box > h2{
        font-size: 3.25rem;
        font-weight: 800;
    }
    .blue-box > p{
        font-size: 15px;
        line-height: 28px;
        color: rgba(244, 244, 244, 0.4);
    }
    .btndiv2 > button{
        font-size: 17px;
        border: 1px solid rgba(244, 244, 244, 0.16);
        padding: 20px 30px;
        border-radius: 40px;
        background-color: #ffffff;
        color: #000000;
        cursor: pointer;
    }
}
@media screen and (max-width: 509px) {
    .blue-box{
        padding: 2rem 5rem;
        gap: 1.7rem;
    }
    .blue-box > h2{
        font-size: 3rem;
        font-weight: 800;
    }
    .blue-box > p{
        font-size: 15px;
        line-height: 28px;
        color: rgba(244, 244, 244, 0.4);
    }
    .btndiv2 > button{
        font-size: 17px;
        border: 1px solid rgba(244, 244, 244, 0.16);
        padding: 20px 20px;
        border-radius: 40px;
        background-color: #ffffff;
        color: #000000;
        cursor: pointer;
    }
}
@media screen and (max-width: 458px) {
    .blue-box{
        padding: 2rem 3rem;
        gap: 1.7rem;
    }
    .blue-box > h2{
        font-size: 2.5rem;
        font-weight: 800;
    }
    .blue-box > p{
        font-size: 14px;
        line-height: 26px;
        color: rgba(244, 244, 244, 0.4);
    }
    .btndiv2 > button{
        font-size: 15px;
        border: 1px solid rgba(244, 244, 244, 0.16);
        padding: 20px 16px;
        border-radius: 40px;
        background-color: #ffffff;
        color: #000000;
        cursor: pointer;
    }
}
@media screen and (max-width: 361px) {
    .blue-box{
        padding: 2rem 3rem;
        gap: 1.7rem;
    }
    .blue-box > h2{
        font-size: 2rem;
        font-weight: 800;
    }
    .blue-box > p{
        font-size: 13px;
        line-height: 26px;
        color: rgba(244, 244, 244, 0.4);
    }
    .btndiv2 > button{
        font-size: 12px;
        border: 1px solid rgba(244, 244, 244, 0.16);
        padding: 20px 10px;
        border-radius: 40px;
        background-color: #ffffff;
        color: #000000;
        cursor: pointer;
    }
}
@media screen and (max-width: 321px) {

}